@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: rgb(26, 26, 26);
    background-size: cover;
    overflow-y: hidden;
}

.App{
    height:100vh; 
}