@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
    font-family: 'Oxygen', sans-serif;
}

body{
    background: linear-gradient(138.56deg, rgba(235, 255, 0, 0.35) 31.15%, rgba(180, 132, 11, 0.5) 84.47%) no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.App{
    height:100vh; 
}