::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

body{
    margin:0;
}

.content{
    display:flex;
    justify-content: center;
    margin:1em;
    height:85vh;
    overflow:hidden;
}

.assignment-list{
    display: flex;
    position: absolute;
    width: 554px;
    height:579px;
    left:688px;
    top:100px;
    background-color: #2a546e;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.assignment-list-item{
    overflow-y:scroll;
}

.assignment-list-item-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.assignment-list-item-container input{
    align-self: center;
    height: 42px;
    width: 42px;
}

.assignment-list-item-container p{
    color: white;
    font-size: 36px;
}


.assignment{
    text-align: center;
    padding:1em;
}