.assignment-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #2a546e;
    height: 220px;
    width: 554px;
    top:700px;
    left:688px;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.assignment-header{
    color:white;
    text-align: center;
}

.assignment-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.assignment-form .assignment-form-label{
    color:white;
    display: flex;
    align-self: center;
    width:80%;
}

.assignment-form .assignment-form-input{
    display: flex;
    align-self: center;
    width:80%;
    height:48px;
    font-size: 2em;
}


.assignment-list-item{
    display: flex;
    flex-direction: column;
    width: 100%;
}